body{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-image: url('../images//BG.jpg');
  display: flex;
  align-items: center;
  height: 100vh;
}
.wrapper{
  position: absolute;
  top: 0px;
  display: flex;
  height: 200px;
  width: 100%;
  justify-content: space-between;
}

.logo{
  background-image: url('../images/Cadbury\ Logo.png');
  background-repeat: no-repeat;
  height: 200px;
  width: 100px;
}

